body {
  background-image: url(../images/tetris.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: Bungee Shade;
  font-size: 3.5rem;
  letter-spacing: 4px;
  color: #30abbb;
  text-align: center;
  text-shadow:
    2px 2px 0 #000,
    4px 4px 8px rgba(0, 0, 0, 0.5);
}

h3 {
  font-family: Rubik;
  text-align: center;
  color: #30abbb;
  text-shadow:
    2px 2px 0 #000,
    2px 2px 4px rgba(0, 0, 0, 0.5);
}

.score-button {
  text-align: center;
}

.btn {
  font-family: Rubik;
  display: block;
  margin: 10px auto;
  background-color: #30abbb;
  border-radius: 5px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(140, 175, 204);
  border-radius: 5px;
  box-shadow:
    0 0 0 4px #302472,
    0 8px 32px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.grid div {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}

.tetromino {
  box-shadow:
    0 0 0 1px #2f2a76,
    0 8px 8px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.mini-grid {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(140, 175, 204);
  border-radius: 5px;
  box-shadow:
    0 0 0 4px #2f2a76,
    0 8px 32px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.instructions {
  width: 80px;
  height: 80px;
  display: block;
  font-family: Rubik;
  font-size: 1rem;
  text-align: center;
}
